[submodule "thirdparty/drogon"]
	path = thirdparty/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "thirdparty/ncnn"]
	path = thirdparty/ncnn
	url = https://github.com/Tencent/ncnn.git
[submodule "wave-home-front"]
	path = wave-home-front
	url = https://github.com/sogang-radai/wave-home-front.git
[submodule "thirdparty/asio"]
	path = thirdparty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "thirdparty/tuyapp"]
	path = thirdparty/tuyapp
	url = https://github.com/gordonb3/tuyapp.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/sherpa-onnx"]
	path = thirdparty/sherpa-onnx
	url = https://github.com/k2-fsa/sherpa-onnx.git
